/* ONLY MOBILE */
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .page-layout {
    display: block;
  }

  header {
    position: relative;
    margin: 10px auto;
    height: 50px;

    /* GALLERY */
  }


  /* .navbar-links a:not(:first-child) {
    display: none;
  } */

  a.navbar-icon {
    display: block;
    position: absolute;
    top: 15%;
    left: 90%;
  }

  .navbar-links {
    display: flex;
    position: absolute;
    top: 75px;
    left: 40%;
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }

  .navbar-links.hide {
    display: none;
  }


  .search {
    display: block;
    margin: 20px;
    padding-top: 1px;
  }

  .search-bar {
    margin-block: 30px;
  }

  .tags-top {
    display: inline;
    width: 100%;
  }

  .btn-tag {
    display: none;
  }

  

  .editor-container>* {
    width: 480px;
    height: 360px;
    margin-inline: auto;
    margin-block: 10px;

  }

  .control-container {
    height: fit-content;
  }
}

/* SMALL  */
@media (min-width: 600px) {
  html {
    font-size: 14px;
  }

  .page-layout {
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  }

  header {
    position: relative;
  }
  .navbar-container {
    justify-content: space-between;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
  }
  .navbar-links {
    display: flex;
    gap: 15px;
    
  }

  a.navbar-icon {
    display: none;
  }


  .editor-container>* {
    margin-inline: auto;
    margin-block: 10px;

  }

  .canvas-container {
    aspect-ratio: 1;
  }

  .control-container {
    margin-block-end: 20px;
  }


}

/* MEDIUM  */
@media (min-width: 960px) {
  .page-layout {
    grid-template-columns: minmax(20px, 1fr) 920px minmax(20px, 1fr);
    grid-template-rows: auto fit-content;
  }

  .navbar-container {
    justify-content: space-between;
    margin-inline-start: 125px;
    margin-inline-end: 0px;
  }

  
  .navbar-links {
    display: flex;
    gap: 50px;
    
  }

  .gallery-container {
    grid-area: 2/2;

  }

  .editor-container {
    grid-area: 2/2;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

}


/* LARGE  */
@media (min-width: 1320px) {
  html {
    font-size: 16px;
  }

  .page-layout {
    grid-template-columns: minmax(20px, 1fr) 1280px minmax(20px, 1fr);
  }

  .navbar-container {
    justify-content: space-between;
    margin-inline-start: 250px;
    margin-inline-end: 100px;
  }

  
  .navbar-links {
    display: flex;
    gap: 50px;
    
  }

  .editor-container {
    gap: 0;
    justify-content: space-evenly;
  }

  .editor-container>* {
    margin-inline: 0;
  }

  .canvas-container {
    width: 472px;
  }

}