.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-align-center {
    text-align: center;
}

.full-width {
    grid-column: 1/-1;
}