/* MAIN LAOUT */
.page-layout {
    display: grid;
    min-width: 500px;
}

header {
    grid-area: 1/2;

}

.gallery-container,
.editor-container {
    grid-area: 2/2;
}

.editor-container {
    grid-column: 2;
    flex-direction: column;
}

.editor-container>* {
    border-radius: 3em;
    background-color: var(--colorPrimary1);
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}