header {
    height: 75px;
    border-radius: 3em;
    margin-block: var(--sectionMarginBlock);
    background: linear-gradient(to right, var(--colorGradientStart), var(--colorGradientEnd));
    align-content: center;
}

.navbar-container {
    margin-inline: 50px;

    font-size: 22px;
    font-family: 'poppins-regular','poppins';
    color: var(--colorSecondaryBase);
}

.navbar-links{
    width: 50%;
    justify-content: center;
    gap: 50px;
}
