:root {
  /* PRIMARY */
  --colorPrimaryBase: rgb(34, 37, 44);
  --colorPrimary1: rgb(56, 59, 66);
  --colorPrimary2: rgb(135, 137, 141);

  /* GRADIENT */
  --colorGradientStart: rgb(15, 155, 180);
  --colorGradientEnd: rgb(48, 187, 114);

  /* SECONDARY */
  --colorSecondaryBase: rgb(254, 254, 254);

  /* MARGINS */
  --sectionMarginBlock: 15px;
  --elementMarginBlcok: 1em
}